{% extends "doctor_navbar.html" %}
{%block content%}
{%load static%}


			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">My Patients</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">My Patients</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{{doctor.imageURL}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{user.username}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="{% url 'doctor_appointment' %}">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<!--
											<li>
												<a href="{% url 'doctor_booking' %}">
													<i class="fas fa-ticket-alt"></i>
													<span>Bookings</span>
												</a>
											</li>
										-->
											<li class="active">
												<a href="{% url 'doctor_patient' %}">
													<i class="fas fa-user"></i>
													<span>My Patients</span>
												</a>
											</li>
											
											<li>
												<a href="{%url 'logout'%}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
						
							<div class="row row-grid">
								{%for user in user%}
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="{% url 'doctor_patient_profile' user.id%}" class="booking-doc-img">
														<img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg"" alt="User Image">
													</a>
													<div class="profile-det-info">
														<h3><a href="patient-profile.html">{{user.username}}</a></h3>
														
														<div class="patient-details">
															<h5><b>Patient ID :</b> {{user.id}}</h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Alabama, USA</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li>Email <span>{{user.email}}</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
								
							
		
								
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->


{% endblock %}            