{% extends "doctor_navbar.html" %}
{%block content%}
{%load static%}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb"></nav>
				</nav>
				<h2 class="breadcrumb-title">Appointment</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

				<!-- Profile Sidebar -->
				<div class="profile-sidebar">
					<div class="widget-profile pro-widget-content">
						<div class="profile-info-widget">
							<a href="#" class="booking-doc-img">
								<img src="{{doctor.imageURL}}" alt="User Image">

							</a>
							<div class="profile-det-info">
								<h3>{{user.first_name}} {{user.last_name}}</h3>

								<div class="patient-details">
									<h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="dashboard-widget">
						<nav class="dashboard-menu">
							<ul>
								<li class="active">
									<a href="{% url 'doctor_appointment' %}">
										<i class="fas fa-calendar-check"></i>
										<span>Appointments</span>
									</a>
								</li>
								<li>
									<a href="{% url 'edit_doctor' doctor.id doctor.user_id.id %}">
										<i class="fas fa-calendar-check"></i>
										<span>My Profile</span>
									</a>
								</li>
								<!--
											<li>
												<a href="{% url 'doctor_booking' %}">
													<i class="fas fa-ticket-alt"></i>
													<span>Bookings</span>
												</a>
											</li>
										-->
								<li>
									<a href="{% url 'patientsample'  %}">
										<i class="fas fa-user"></i>
										<span>My Patients</span>
									</a>
								</li>

								<li>
									<a href="{%url 'logout'%}">
										<i class="fas fa-sign-out-alt"></i>
										<span>Logout</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- /Profile Sidebar -->

			</div>
			<div class="col-md-7 col-lg-8 col-xl-9">
				<div class="card">
					<div class="card-body pt-0">

						<!-- Tab Menu -->
						<nav class="user-tabs mb-4">
							<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
								<li class="nav-item">
									<a class="nav-link active" href="#pat_myrequests" data-toggle="tab">Today
										Appointments</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#pat_prescription" data-toggle="tab"><span
											class="med-records">Upcoming Appointments</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="#pat_rejected" data-toggle="tab">Rejected 
										Appointments</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="#pat_cancelbooking" data-toggle="tab">Consulted
										Appointments</a>
								</li>

							</ul>
						</nav>
						<!-- /Tab Menu -->

						<!-- Tab Content -->
						<div class="tab-content pt-0">



							<!-- My requests -->
							<div class="tab-pane fade show active" id="pat_myrequests">
								<div class="card card-table mb-0">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>Patient Name</th>
														<th>Appt Date</th>
														<th>Time</th>
														<th>Booked date</th>
														<th>Phone</th>
													</tr>
												</thead>
												{% for time in times %}
												{% if time.date_field == today and time.status == 0 %}
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="" class="avatar avatar-sm mr-2"><img
																		class="avatar-img rounded-circle"
																		src="{{time.patient_id.imageURL}}"></a>
																<a href="{%url 'patient_profile_sample' time.patient_id.user.id time.patient_id.id doctor.id %}">{{time.patient_id.patient_full_name}}</a>
															</h2>
														</td>
														<td>{{time.date_field}}</td>
														<td><span class="d-block text-info">{{time.time_field}}</span>
														</td>
														<td>{{time.created_at}}</td>
														<td class="text-center">9048419922</td>
														<td class="text-right">
															<div class="table-action">
																<a href="{% url 'doctor_priscription' time.patient_id.id time.id %}"
																class="btn btn-sm bg-success-light">
																<i class="far fa-eye"></i> Consult
															</a>
															<a href="{% url 'reject' time.id%}"
															class="btn btn-sm bg-danger-light">
															<i class="far fa-trash-alt"></i> Reject
														</a>
															</div>
														</td>
													</tr>
												</tbody>
												{%endif%}
												{% endfor %}
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- /my requests -->

							<!-- Prescription Tab -->
							<div class="tab-pane fade" id="pat_prescription">
								<div class="card card-table mb-0">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>Patient Name</th>
														<th>Appt Date</th>
														<th>Time</th>
														<th>Booked date</th>
														<th>Phone</th>
													</tr>
												</thead>
												{% for time in times %}
												{% if time.date_field != today and time.status == 0 %}
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="" class="avatar avatar-sm mr-2"><img
																		class="avatar-img rounded-circle"
																		src="{{time.patient_id.imageURL}}"
																		></a>
																<a href="{%url 'patient_profile_sample' time.patient_id.user.id time.patient_id.id doctor.id %}">{{time.patient_id.patient_full_name}}</a>
															</h2>
														</td>
														<td>{{time.date_field}}</span></td>
														<td><span class="d-block text-info">{{time.time_field}}</span>
														</td>
														<td>{{time.created_at}}</td>
														<td class="text-center">9048419922</td>
														<td class="text-right">
															<div class="table-action">
																<a  class="btn btn-sm bg-success-light">
																	<i class="far fa-eye"></i> Upcoming
																</a>
																<a href="{% url 'reject' time.id%}"
																class="btn btn-sm bg-danger-light">
																<i class="far fa-trash-alt"></i> Reject
															</a>
															</div>
														</td>
													</tr>
												</tbody>
												{% endif %}
												{% endfor %}
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- /Prescription Tab -->
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary">Save changes</button>
										</div>
									</div>
								</div>
							</div>


							<!-- Cancel Booking -->
							<div class="tab-pane fade" id="pat_cancelbooking">
								<div class="card card-table mb-0">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>Patient Name</th>
														<th>Appt Date</th>
														<th>Time</th>
														<th>Consulted date</th>
														<th>Phone</th>
														<th>Status</th>
													</tr>
												</thead>
												{% for time in times %}
												{% if time.status == 2 %}
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="" class="avatar avatar-sm mr-2"><img
																		class="avatar-img rounded-circle"
																		src="{{time.patient_id.imageURL}}"
																		></a>
																<a href="{%url 'patient_profile_sample' time.patient_id.user.id time.patient_id.id doctor.id %}">{{time.patient_id.patient_full_name}}</a>
															</h2>
														</td>
														<td>{{time.date_field}}</span></td>
														<td><span class="d-block text-info">{{time.time_field}}</span>
														</td>
														<td>{{time.created_at}}</td>
														<td class="text-center">9048419922</td>
														<td class="text-right">
															<div class="table-action">
																<span class="badge badge-pill bg-info-light">Consulted
																	Patients<span>
															</div>
														</td>
													</tr>
												</tbody>
												{% endif %}
												{% endfor %}

											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- /Canel Booking -->
							<!-- Cancel Booking -->
							<div class="tab-pane fade" id="pat_rejected">
								<div class="card card-table mb-0">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>Patient Name</th>
														<th>Appt Date</th>
														<th>Time</th>
														<th>Consulted date</th>
														<th>Phone</th>
														<th>Status</th>
													</tr>
												</thead>
												{% for time in times %}
												{% if time.status == 3 %}
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="" class="avatar avatar-sm mr-2"><img
																		class="avatar-img rounded-circle"
																		src="{{time.patient_id.imageURL}}"
																		></a>
																<a href="{%url 'patient_profile_sample' time.patient_id.user.id time.patient_id.id doctor.id %}">{{time.patient_id.patient_full_name}}</a>
															</h2>
														</td>
														<td>{{time.date_field}}</span></td>
														<td><span class="d-block text-info">{{time.time_field}}</span>
														</td>
														<td>{{time.created_at}}</td>
														<td class="text-center">9048419922</td>
														<td class="text-right">
															<div class="table-action">
																<span class="badge badge-pill bg-danger-light">Rejected
																	Patients<span>
															</div>
														</td>
													</tr>
												</tbody>
												{% endif %}
												{% endfor %}

											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- /Canel Booking -->

						</div>
						<!-- Tab Content -->

					</div>
				</div>
			</div>




		</div>

	</div>
</div>

</div>

</div>
<!-- /Page Content -->

{% endblock %}