{% extends "Navbar.html" %}
{%block content%}
{%load static%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">
<style>
    .page {
        margin: 1em auto;
        max-width: 768px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .box {
        padding: 0.5em;
        width: 100%;
        margin: 0.5em;
    }

    .box-2 {
        padding: 0.5em;
        width: calc(100%/2 - 1em);
    }

    .options label,
    .options input {
        
        width: 10em;
        padding: 0.5em 1em;
    }

    .btn {
        
        padding: 0.5em 1em;
        text-decoration: none;
        margin: 0.8em 0.3em;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        box-shadow: 0 0 40px 40px #4cbf12 inset, 0 0 0 0 #4cbf12;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    

    .hide {
        display: none;
    }

    img {
        max-width: 100%;
        
    }
</style>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Profile Settings</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="{{patient.imageURL}}"
                                    alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>{{patient.patient_full_name}}</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake pt-2 "></i> {{patient.patient_dob}}</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt pt-2 pb-3"></i> {{patient.patient_city}} {{patient.patient_state}}</h5>
                                    <h5 class="mb-0"><i class="fa fa-envelope"></i> {{user.email }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="{%url 'user_account' %}">
                                        <i class="fas fa-columns"></i>
                                        <span>My Requests</span>
                                    </a>
                                <li  class="active">
                                    <a href="{%url 'patient_profile' %}">
                                        <i class="fas fa-user"></i>
                                        <span>Profile</span>
                                    </a>

                                <li>
                                    <a href="{%url 'logout'%}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        
                        <!-- Profile Settings Form -->
                        <form action="{% url 'patient_profile'  %}" enctype ="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="">
                                            <div class="profile-img d-flex p-2 bd-highlight">
                                                <img id="blah" src="{{patient.imageURL}}"
                                                alt="your image" style="width:100px;height:100px;"/>
                                                <!-- leftbox -->
                                            <div class="box-2">
                                                <div class="result" ></div>
                                            </div>
                                            <!--rightbox-->
                                            <div class="box-2 img-result hide">
                                                <!-- result of crop -->
                                                <img id="cropped" class="cropped" src="" alt="">
                                            </div>
                                            </div>
                                            <input id="imageBaseData" class="hidden" name="image64data" type="hidden" required = True type="text">
                                            <div class="upload-img">
                                                <div class="change-photo-btn">
                                                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                    <input type="file" class='upload' required = True id="file-input">
                                                </div>
                                                
                                            </div>
                                            
                                            <!-- input file -->
                                            <div class="box">
                                                <div class="options hide">
                                                    <!-- <label> Width</label> -->
                                                    <input type="hidden"  name="myfile"
                                                        class="img-w " value="300" min="100"
                                                        max="1200" />
                                                </div>
                                        </div>
                                    </div>
                                    <!-- save btn -->
                                    <button id="load" type="button" aria-required="true" class="btn save hide ">Confirm</button>
                                    <!-- download btn -->
                                </div>
                            </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" required class="form-control" required name='patient_full_name' value='{{patient.patient_full_name}}'>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" required class="form-control" required name='email' value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="cal-icon">
                                            <input type="date" required class="form-control datetimepicker" name='patient_dob' value='{{patient.patient_dob|date:"Y-m-d" }}'>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        <select class="form-control select" required name='patient_blood' >
                                            <option value='{{patient.patient_blood}}'>{{patient.patient_blood}}</option>
                                            <option value="A-"  >A-</option>
                                            <option value="A+"  >A+</option>
                                            <option value="B-"  >B-</option>
                                            <option value="B+"  >B+</option>
                                            <option value="AB-" >AB-</option>
                                            <option value="AB+" >AB+</option>
                                            <option value="O-"  >O-</option>
                                            <option value="O+"  >O+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input type="number" required name='patient_mobile' value="{{patient.patient_mobile}}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                    <label>Address</label>
                                        <textarea type="text" required  name='patient_address' value="{{patient.patient_address}}" class="form-control" >{{patient.patient_address}}</textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" required name='patient_city' value="{{patient.patient_city}}" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" required name='patient_state' value="{{patient.patient_state}}" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Zip Code</label>
                                        <input type="number" required name='patient_zipcode' value="{{patient.patient_zipcode}}" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button type="submit" required class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>
                        <!-- /Profile Settings Form -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->



<script>
    function readURL(input) {
if (input.files && input.files[0]) {
   var reader = new FileReader();

   reader.onload = function (e) {
       $('#blah')
           .attr('src', e.target.result);
   };

   reader.readAsDataURL(input.files[0]);
}
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<script>
    // vars
    let result = document.querySelector('.result'),
        img_result = document.querySelector('.img-result'),
        img_w = document.querySelector('.img-w'),
        img_h = document.querySelector('.img-h'),
        options = document.querySelector('.options'),
        save = document.querySelector('.save'),
        cropped = document.querySelector('.cropped'),
        dwn = document.querySelector('.download'),
        upload = document.querySelector('#file-input'),
        cropper = '';

    // on change show image with crop options
    upload.addEventListener('change', (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e) => {
                if (e.target.result) {
                    // create new image
                    let img = document.createElement('img');
                    img.id = 'image';
                    img.src = e.target.result
                    // clean result before
                    result.innerHTML = '';
                    // append new image
                    result.appendChild(img);
                    // show save btn and options
                    save.classList.remove('hide');
                    options.classList.remove('hide');
                    // init cropper
                    cropper = new Cropper(img);
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    // save on click
    save.addEventListener('click', (e) => {
        e.preventDefault();
        // get result to data uri
        let imgSrc = cropper.getCroppedCanvas({
            width: img_w.value // input value
        }).toDataURL();
        // remove hide class of img
        cropped.classList.remove('hide');
        img_result.classList.remove('hide');
        // show image cropped
        cropped.src = imgSrc;
        dwn.classList.remove('hide');
        dwn.download = 'imagename.png';
        dwn.setAttribute('href', imgSrc);

    });

</script>
<script>
    var button = document.getElementById('load');
    button.addEventListener('click', function () {
        setImageData();
        console.log('Cropped')
    })


    function setImageData() {

        var imageElement = document.getElementById('cropped');
        var imageData = imageElement.src;
        var hiddenElement = document.getElementById("imageBaseData");
        hiddenElement.value = imageData;
        console.log("data set")
    }
</script>




{% endblock %}