{% extends "doctor_navbar.html" %}
{%block content%}
{%load static%}
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
								</ol>
							</nav>
							<h2 class="breadcrumb-title">My Patients</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{{doctor.imageURL}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>Dr. {{doctor.user_id.first_name}} {{doctor.user_id.last_name}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{doctor_q.doctor_degree}} - {{doctor.doctor_Field}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
                                            <li>
												<a href="{% url 'doctor_appointment' %}">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
                                            </li>
                                            
											<li>
												<a href="{% url 'edit_doctor' doctor.id doctor.user_id.id %}">
													<i class="fas fa-user-edit"></i>
													<span>My Profile</span>
												</a>
											</li>
                                            <li class="active">
												<a href="{% url 'patientsample'  %}">
													<i class="fas fa-user"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="{%url 'logout'%}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
						
							<div class="row row-grid">
								{% for patients in doctor_patient %}
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<a href="{%url 'patient_profile_sample' patients.patient.user.id patients.patient.id doctor.id %}" class="booking-doc-img">
														<img src="{{patients.patient.imageURL}}" alt="User Image">
													</a>
													<div class="profile-det-info">
														<h3><a href="">{{patients.patient.patient_full_name}}</a></h3>
														
														<div class="patient-details">
															<h5><b>Patient ID :</b> {{patients.patient.id}}</h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{patients.patient.patient_city}}, {{patients.patient.patient_state}}</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li>Phone <span>{{patients.patient.patient_mobile}}</span></li>
													<li>DOB <span>{{patients.patient.patient_dob}}</span></li>
													<li>Blood Group <span>{{patients.patient.patient_blood}}</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							
                                {% endfor %}
								
							
								
							</div>

						</div>
					</div>

				</div>

			</div>		
            <!-- /Page Content -->
            
{% endblock %}